<div class="displayContainer">
  <input
    type="text"
    required
    placeholder="Search..."
    [(ngModel)]="inputValue"
    (input)="filteredProduct()"
  />
  <input
    type="text"
    placeholder="Search..."
    [(ngModel)]="styleInput"
    appDontAllowNumber
  />
  <div>
    <app-admin
      [productDetails]="productDetails"
      [getPurchaseid]="sentPuchaseid"
      [filteredProductArr]="filteredProductArr"
      [inputValue]="inputValue"
      [styleInput]="styleInput"
      (sentCheckCount)="getCheckcount($event)"
    ></app-admin>
    <app-user
      [productDetails]="productDetails"
      (purchaseid)="getPurchaseid($event)"
      [availabaleProduct]="availableProductDetails"
      [filteredAvailableProductArr]="filteredAvailableProductArr"
      [inputValue]="inputValue"
      [styleInput]="styleInput"
      [checkCount]="sentCheckCountTouser"
    >
    </app-user>
  </div>
</div>
