<div>
  <input
    type="text"
    placeholder="Serach..."
    [(ngModel)]="inputValue"
    (input)="getMathcedProduct()"
    appDontAllowNumbers
  />
</div>
<div class="userTable">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Date</th>
        <th>Description</th>
        <th>Purchase</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of availabaleProduct">
        <td>{{ data.id }}</td>
        <td
          [ngStyle]="{
            background: inputValue == data.productName ? 'lightblue' : ' white'
          }"
        >
          {{ data.productName }}
        </td>
        <td>{{ data.cost }}</td>
        <td>{{ data.date | dateModifier }}</td>
        <td>{{ data.description | shorten: 40 }}</td>
        <td>
          <button
            [disabled]="data.count <= 0 ? true : false"
            (click)="buyProduct(data.id)"
          >
            Buy
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- 
 -->
