<div class="page">
  <div class="container1">
    <div class="c1sec1">
      <input type="checkbox" (click)="showAge()" /><label>Show Age</label>
      <input
        type="radio"
        name="fav_color"
        value="#ff2800"
        #color1
        (click)="getColor(color1.value)"
      />
      <label>Color1</label>

      <input
        type="radio"
        name="fav_color"
        value="#2e8b57"
        #color2
        (click)="getColor(color2.value)"
      />
      <label>Color2</label>
      <input
        type="radio"
        name="fav_color"
        value="#6495ed"
        #color3
        (click)="getColor(color3.value)"
      />
      <label>Color3</label>
    </div>
    <div class="c1sec2">
      <input class="search_bar" type="text" (input)="getSearch($event)" />
      <button class="search_btn" (click)="filterResults(searchInput)">
        Search
      </button>
    </div>
  </div>

  <div class="container2" [ngStyle]="{ 'background-color': color }">
    <div class="card" *ngFor="let user of users">
      <div class="name_id">
        <div class="name">
          Name: <span>{{ user.user_name }}</span>
        </div>
        <div class="id">
          User id: <span>{{ user.user_id }}</span>
        </div>
      </div>
      <div class="age" *ngIf="ageHidden">
        Age: <span>{{ user.age }}</span>
      </div>
    </div>
  </div>
</div>
